<footer class="footer py-3 mt-5 shadow">
    <div class="container">
        <div class="row">
            <!-- Left Column: Last Updated -->
            <div class="col-12 col-md-6 text-center text-md-left mb-2 mb-md-0">
                <div class="text-muted">
                    <i>Last updated: {{ "now" | date: "%b %d, %Y" }}</i>
                </div>
            </div>

            <div class="col-12 col-md-6 text-center text-md-right mb-2 mb-md-0">
                <div>
                    <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=080808&w=180&t=tt&d=7I4v8T4MW2ALRuxdT1LRY9hJugOZLRPPTzzkinyWyeQ&co=ffffff&cmo=3acc3a&cmn=ff5353&ct=808080'></script>                
                </div>
            </div>
        </div>
    </div>
</footer>
